:root {
    --primary: #9C27B0;
    --darkPrimary: #89119D;
    --secundary: #FFCE00;
    --darkSecondary: rgb(233, 287, 2);
    --white: #FFF;
    --black: #000;

    --mainsource: 'Staatliches', cursive;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primary);
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secundary);
    font-family: var(--mainsource);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/* Header */
.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 3rem 0;
}

/* footer */

.footer {
    background-color: var(--darkPrimary);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text {
    font-family: var(--mainsource);
    text-align: center;
    font-size: 2.2rem;
}

/* Navigate*/
.navigate {
    background-color: var(--darkPrimary);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navigate__link {
    font-family: var(--mainsource);
    color: var(--white);
    font-size: 3rem;
}

.navigate__link--asset,
.navigate__link:hover {
    color: var(--secundary);
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

/* productos */

.producto {
    background-color: var(--darkPrimary);
    padding: 1rem;
}

.producto__imagen {
    width: 100%;
}

.producto__informacion {
    
}

.producto__nombre {
    font-size: 4rem;

}

.producto__precio {
    font-size: 2.8rem;
    color: var(--secundary);
}

.producto__nombre,
.producto__precio {
    font-family: var(--mainsource);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}
/* contacto */
.form {
    background-color: var(--grey);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.form fieldset{
border: none;
}

.form legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primary);
}

@media (min-width: 768px) { 
  .form-fields {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
        }

        .field:nth-child(3),
        .field:nth-child(4) {
            grid-column:  1/ 3;
        }
    }

.field {
    margin-bottom: 1rem;
}

.field label {
    color: var(--white);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.field textarea {
    height: 20rem;
}
/*graficos*/
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
}

.grafico--node {
    background-image: url(..//img/grafico1.jpg);
    grid-row: 8 / 9;
}

.grafico--camisas {
    grid-row: 2 / 3;
    background-image: url(../img/grafico2.jpg);
}



@media (min-width: 768px) {
        .grafico--node {
            grid-row: 5 / 6;
            grid-column: 2 / 4;
        }
    }